<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <style>
          .nav-link {
              color: white;
            }
        </style>

  </head>
  <body>


    <nav class="navbar navbar-expand-sm justify-content-center" style="background-color: black; padding-left: 2.6%; border-bottom: 5px white double; padding-bottom: 2%;">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
        </li>
        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="{{ url_for('Test') }}">Test</a>
        </li>

        <a class="navbar-brand mx-auto" href="#" style="padding-left: 5%; padding-right: 5%; padding-top: 0.75%;">
          <img src="static/img/chesspieces/wikipedia/wQ.png" alt="logo" style="width:60px;">
        </a>

        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="{{ url_for('results') }}">Results</a>
        </li>
        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item" style="padding-top: 2%;">
          <a class="nav-link" href="#">Picture</a>
        </li>
      </ul>
      
    </nav>


        <hr>
        {% block content %}{% endblock %}
    </body>
</html>