{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .row{
        min-height: 150px;
      }
    </style>
  </head>

  <body>
    <br>
    <h1 id = 'title'>{{ name }}</h1>

    <p><span style="font-weight: bold; font-size: x-large;">How to Test: </span> This page is designed to test you on the {{name}}.</p>

    <div class="row" style="padding-bottom: 1%; margin-top: 4%;">

      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <h2>How to complete the test:</h2>
        <p>
          The board on the right is the <i>Test board</i>. There will be no prompts for this test so make sure you have fully utilised the 'Learn' page and know your openings. To complete the test you must provide the correct sequence of moves. If a move is incorrect the piece will not move and you will have to try again until you get it. 
        </p>
        <br>
        <p>
          Once you have completed the test the word <span style="color: greenyellow;">Complete</span> will pop up, along with your score for the test. If the score is above 50%, congratulations your progress will increase. If you don't pass, you will have to try again for the progress bar to be updated.
        </p>
        <br>
        <p>
          You can review your tests in the <span style="color: yellow;">Feedback</span> section along the navigation bar. In the <span style="color: yellow;">Feedback</span> section you can select the test that you made an error in and review your mistakes.
        </p>
        <br>
        <h3>Good luck!!!!</h3>
        <br><br>
        
        <div id="submitdiv" class="row" style="text-align: center;">
          <div class="col-sm-3"></div>

          <div class="col-sm-3">
            <div id = 'complete' style="font-size: 24px;"></div>
            <div id = 'score' style="font-size: 20px;"></div>
          </div>
          <div class="col-sm-3" style="padding-top: 2.5%;">
            <!-- <a href = "{{ url_for('index') }}" id = 'submitButton' style="visibility:hidden;" onclick = sendData()>Submit</a>-->
            <button id = 'submitButton' style="visibility:hidden; color: black; border: none; border-radius: 15px 25px; padding: 10px;" onclick = sendData()>Submit</button>
          </div>

          <div class="col-sm-3"></div>
        </div>
      </div>

      <div class="col-sm-4" id = "board1" ></div>


      <div class="col-sm-2"></div>

      
    </div>

    
    


    
    


    <script>

      console.log(is_black)
      x = document.getElementById('title').innerHTML;
      x = x.toLowerCase();
      x = x.split(" ")
      opening = x[0] + '_' + x[1]

      var config = {
        draggable: true,
        position: 'start',
        onChange: onChange
      }
      var i = 0
      x = 0

       this_opening = {{opening|safe}}
       this_opening = this_opening.split(',')
       var fixed_opening = []
       for (var i; i<this_opening.length; i++){
          console.log(this_opening[i])
          fixedstring = this_opening[i].trim()
          console.log(fixedstring)
          fixed_opening.push(fixedstring)
      }
      this_opening = fixed_opening;
      console.log(this_opening.length)
      var black = "{{name}}".split(' ')[1]
      if (black == "Defense"){
        var is_black = "True";
        var i = 1
        var board = Chessboard(board1, {
        draggable: true,
        position:this_opening[0] ,
        onChange: onChange,
        orientation: 'black'
      })
      } else {
        var is_black = "False";
        var i = 0
        var board = Chessboard('board1', {
        draggable: true,
        position: 'start',
        onChange: onChange
      })
      }
     


      var accuracy = this_opening.length
      var incorrect = []
    




      var moves = 0






      
// --- Begin Example JS --------------------------------------------------------
      function onChange (oldPos, newPos) {
        console.log('Position changed:')
        console.log('Old position: ' + Chessboard.objToFen(oldPos))
        console.log('New position: ' + Chessboard.objToFen(newPos))
        console.log('right position ' + this_opening[i])
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
        console.log(i)
        console.log(this_opening.length)
        if (is_black == "False"){
          

          if (i<this_opening.length-1){
            if (Chessboard.objToFen(newPos) == this_opening[i]) {
              var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange})
              console.log('yes')
              i = i + 2
              if (i == this_opening.length){
                document.getElementById('complete').style.color = "green";
                document.getElementById('complete').innerHTML = "Complete!";
                score = (accuracy/this_opening.length)*100
                document.getElementById('score').innerHTML = score + '%';
                document.getElementById('submitButton').style.visibility = "visible";

                

              }
              
            }
            else if (Chessboard.objToFen(newPos)[Chessboard.objToFen(newPos).length -2 ] == 'K'){
                var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange})
                console.log('yes')
                i = i + 2
                if (i == this_opening.length){
                  document.getElementById('complete').style.color = "green";
                  document.getElementById('complete').innerHTML = "Completes!";
                  score = (accuracy/this_opening.length)*100
                  document.getElementById('score').innerHTML = score + '%';
                  document.getElementById('submitButton').style.visibility = "visible";

                  //Why doesn't this work -- I think its a problem with the image paths because background-image: url('image.png') didnt work inline either
                  document.getElementById('submitdiv').style.backgroundImage = "url('static/img/Open/BogoIndian.png')"

                  console.log(incorrect)



              }

            }

            
            else {
              var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange})
              console.log('no')
              incorrect.push([Chessboard.objToFen(oldPos), Chessboard.objToFen(newPos), this_opening[i]])
              if (accuracy > 0){
                accuracy = accuracy - 1

              }
            }
          } else {
            var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange});

          }

        } else {
          if (i<this_opening.length+1){
            if (Chessboard.objToFen(newPos) == this_opening[i]) {
              var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange, orientation: 'black'})
              console.log('yes')
              i = i + 2
              if (i == this_opening.length+1){
                var board = Chessboard(board1, {position: newPos, draggable: true, onChange: onChange, orientation: 'black'})
                console.log(i)
                document.getElementById('complete').style.color = "green";
                document.getElementById('complete').innerHTML = "Complete!";
                score = (accuracy/this_opening.length)*100
                document.getElementById('score').innerHTML = score + '%';
                document.getElementById('submitButton').style.visibility = "visible"

                console.log("wowowowowowowowow")

              }
              
            }
            else if (Chessboard.objToFen(newPos)[Chessboard.objToFen(newPos).length -2 ] == 'K'){
                var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange, orientation: 'black'})
                console.log('yes')
                i = i + 2
                if (i == this_opening.length+1){
                  var board = Chessboard(board1, {position: newPos, draggable: true, onChange: onChange, orientation: 'black'})
                  document.getElementById('complete').style.color = "green";
                  document.getElementById('complete').innerHTML = "Complete!";
                  score = (accuracy/this_opening.length)*100
                  document.getElementById('score').innerHTML = score + '%';
                  document.getElementById('submitButton').style.visibility = "visible"

                  console.log(incorrect)



              }

            }

            
            else {
              var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange, orientation: 'black'})
              console.log('no')
              incorrect.push([Chessboard.objToFen(oldPos), Chessboard.objToFen(newPos), this_opening[i]])
              if (accuracy > 0){
                accuracy = accuracy - 1

              }
            }
          } else {
            var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange, orientation: 'black'});
            console.log("hi")
            console.log(i)
          }

        }
    
      }
  

      // --- End Example JS ----------------------------------------------------------

  

      function sendData () {
    //console.log(incorrect)
    score = (accuracy/this_opening.length)*100
    var opening_name = document.getElementById('title').innerHTML
    var results = {'opening' : opening_name, 'score': score, 'wrong' : incorrect}
    var dataJson = JSON.stringify(results)
    console.log(dataJson)
    $.ajax({
        url: '/complete',
        contentType: "application/json;charset=utf-8",
        data: dataJson,
        dataType: "json",
        type: 'POST'
    }) 
    window.location.href = "{{ url_for('index') }}";
  }



      

      

    </script>

{% include "footer.html" %}
{% endblock %}