{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    <style>

    </style>
  </head>

  <body>
    <h1 id = 'title'>{{ name }}</h1>



    <div id = "board1" style = "width: 400px"></div>
      

    <div id = 'complete'></div>
    <div id = 'score'></div>
    <form action = "{{ url_for('complete') }}" method = "post">
        <input id = "form_score" type ="hidden" name = "score" value = "">
        <input id = "opening" type ="hidden" name = "opening" value = "{{name}}">
        <input id = "incorrect" type = "hidden" name = "incorrect" value = "">
        <input id = 'submit' onclick = "sendData()" type = "hidden", value = 'submit'>
    </form>
    


    
    


    <script>

      console.log(is_black)
      x = document.getElementById('title').innerHTML;
      x = x.toLowerCase();
      x = x.split(" ")
      opening = x[0] + '_' + x[1]

      var config = {
        draggable: true,
        position: 'start',
        onChange: onChange
      }
      var i = 0
      x = 0

       this_opening = {{opening|safe}}
       this_opening = this_opening.split(',')
       var fixed_opening = []
       for (var i; i<this_opening.length; i++){
          console.log(this_opening[i])
          fixedstring = this_opening[i].trim()
          console.log(fixedstring)
          fixed_opening.push(fixedstring)
      }
      this_opening = fixed_opening;
      console.log(this_opening.length)
      var black = "{{name}}".split(' ')[1]
      if (black == "Defense"){
        var is_black = "True";
        var i = 1
        var board = Chessboard(board1, {
        draggable: true,
        position:this_opening[0] ,
        onChange: onChange,
        orientation: 'black'
      })
      } else {
        var is_black = "False";
        var i = 0
        var board = Chessboard('board1', {
        draggable: true,
        position: 'start',
        onChange: onChange
      })
      }
     


      var accuracy = this_opening.length
      var incorrect = []
    




      var moves = 0






      
// --- Begin Example JS --------------------------------------------------------
      function onChange (oldPos, newPos) {
        console.log('Position changed:')
        console.log('Old position: ' + Chessboard.objToFen(oldPos))
        console.log('New position: ' + Chessboard.objToFen(newPos))
        console.log('right position ' + this_opening[i])
        console.log('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
        console.log(i)
        console.log(this_opening.length)
        if (is_black == "False"){
          

          if (i<this_opening.length-1){
            if (Chessboard.objToFen(newPos) == this_opening[i]) {
              var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange})
              console.log('yes')
              i = i + 2
              if (i == this_opening.length){
                document.getElementById('complete').style.color = "green";
                document.getElementById('complete').innerHTML = "Complete!";
                score = (accuracy/this_opening.length)*100
                document.getElementById('score').innerHTML = score + '%';
                document.getElementById('submit').type = "submit"

                

              }
              
            }
            else if (Chessboard.objToFen(newPos)[Chessboard.objToFen(newPos).length -2 ] == 'K'){
                var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange})
                console.log('yes')
                i = i + 2
                if (i == this_opening.length){
                  document.getElementById('complete').style.color = "green";
                  document.getElementById('complete').innerHTML = "Complete!";
                  score = (accuracy/this_opening.length)*100
                  document.getElementById('score').innerHTML = score + '%';
                  document.getElementById('submit').type = "submit"

                  console.log(incorrect)



              }

            }

            
            else {
              var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange})
              console.log('no')
              incorrect.push([Chessboard.objToFen(oldPos), Chessboard.objToFen(newPos), this_opening[i]])
              if (accuracy > 0){
                accuracy = accuracy - 1

              }
            }
          } else {
            var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange});

          }

        } else {
          if (i<this_opening.length+1){
            if (Chessboard.objToFen(newPos) == this_opening[i]) {
              var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange, orientation: 'black'})
              console.log('yes')
              i = i + 2
              if (i == this_opening.length+1){
                var board = Chessboard(board1, {position: newPos, draggable: true, onChange: onChange, orientation: 'black'})
                console.log(i)
                document.getElementById('complete').style.color = "green";
                document.getElementById('complete').innerHTML = "Complete!";
                score = (accuracy/this_opening.length)*100
                document.getElementById('score').innerHTML = score + '%';
                document.getElementById('submit').type = "submit"

                console.log("wowowowowowowowow")

              }
              
            }
            else if (Chessboard.objToFen(newPos)[Chessboard.objToFen(newPos).length -2 ] == 'K'){
                var board = Chessboard(board1, {position: this_opening[i+1], draggable: true, onChange: onChange, orientation: 'black'})
                console.log('yes')
                i = i + 2
                if (i == this_opening.length+1){
                  var board = Chessboard(board1, {position: newPos, draggable: true, onChange: onChange, orientation: 'black'})
                  document.getElementById('complete').style.color = "green";
                  document.getElementById('complete').innerHTML = "Complete!";
                  score = (accuracy/this_opening.length)*100
                  document.getElementById('score').innerHTML = score + '%';
                  document.getElementById('submit').type = "submit"

                  console.log(incorrect)



              }

            }

            
            else {
              var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange, orientation: 'black'})
              console.log('no')
              incorrect.push([Chessboard.objToFen(oldPos), Chessboard.objToFen(newPos), this_opening[i]])
              if (accuracy > 0){
                accuracy = accuracy - 1

              }
            }
          } else {
            var board = Chessboard(board1, {position: oldPos, draggable: true, onChange: onChange, orientation: 'black'});
            console.log("hi")
            console.log(i)
          }

        }
    
      }
  

      // --- End Example JS ----------------------------------------------------------

  

      function sendData () {
        console.log(incorrect)
        score = (accuracy/this_opening.length)*100

        document.getElementById('form_score').value = score;
        document.getElementById('incorrect').value = incorrect;

        }



      

      

    </script>

{% include "footer.html" %}
{% endblock %}