{% extends "base.html" %}
{% block content %}

<head>
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .float-child {
            flex: 1;
        }  
       .float-container {
          display: flex;
        }
        .float-container:float-container{
            margin-right:20px;
        }
        body{
            background-color: rgb(5, 4, 19);
        }


        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
        position: relative;
        display: inline-block;
        }

        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        .dropdown-content li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
        display: block;
        }

        .dropdown:hover .dropbtn {
        background-color: #3e8e41;
        }

        ul {
            max-height: 200px; 
            overflow-x:hidden; 
            overflow-y:auto;   
        }

        li {
            cursor: pointer;
        }

        .testattempt:hover {
            background-color: green;
        }

        li {
            list-style-type: none;
        }

        button {
            color:rgb(5, 4, 19)
        }

        .rndbtn{
            height: 100px;
            width: 80px;
            border-radius: 30%;
        }

      </style>
  </head>

  <body>
      <br>
      <h1>{{opening}}</h1>
      <h3 id = "selecttest">Select test with errors</h3>
      <p id='introtext'>This is the feedback section for <b>{{opening}}</b>. Only tests with incorrect moves are shown in the drop down and your overall progress is mapped below on the graph. To select a test to review hover over the drop down bar and then select the test you want to check. The test are ordered chronologically so that if you want ot review your most recent test just go to the last one committed to the dropdown. Happy learning!!</p>
      
      <div class="row" style="margin-left: 2%">
        <div class="dropdown" id = "dropdown" style="margin-right: 1%;">
            <button class="dropbtn">Choose your test!</button>
            <div id="openingsid" class="dropdown-content"></div>
        </div>
        <div>
            <button id = "newopening"><a href = "{{ url_for('feedback2') }}">Choose new opening</a></button>
        </div>
      </div>


      
      <hr>

      <!--Search chart.js documentation to style the chart. the location is base.html-->
      <div class="container" style="background-color: white;">
          <canvas id = "myChart"></canvas>
      </div>






      <!--This section is for the rendering of feedback etc-->
      <h3 id = 'TestNumber' style="margin-left: 4.8%;"></h3>
      <h5 id = "mistakeNumber" style="margin-left: 4.8%;"></h5>></h5>

      <div class="row">
          <div class="col-sm-4">
              <div id="myBoard" style="width: 400px; display:none; margin-left: 15%",></div>
          </div>
          <div class="col-sm-4" id = "instructions" style = "display:none;">
              <div>
                  <h3 style="padding-bottom: 1%;">Feedback keys:</h3>
              </div>
              <div class="row">
                  <div class="col-sm-2">
                    <button id="Pos" class='rndbtn' style = "display:none">Show Position</button>
                  </div>
                  <div class="col-sm-2">
                    <button id="Mistake" class='rndbtn' style=  "display:none">Mistake</button>
                  </div>
                  <div class="col-sm-2">
                    <button id="correct" class='rndbtn' style = "display:none">Correct Move</button>
                  </div>
                  <div class="col-sm-2">
                    <button id = "next" class='rndbtn' style = "display:none">Next</button>
                  </div>
                  <div class="col-sm-2">
                    <button id = "back" class='rndbtn' style = "display:none">Back</button>
                  </div>
                  <div class="col-sm-2">
                    <button id = "newtest" class='rndbtn' style = "display:none">Select New Test</button>
                  </div>
              </div>
              <div style="padding-top: 2%">
                <p>The first button is to initially visualise the board so make sure before you click anything else click <B style="color: blue;">Show Position</B>.</p>

                <p>To start your analysis click <B style="color: red;">Mistake</B>. What will happen is the board will animate the incorrect move that you made in the test in order to jog you memory. </p>

                <p>Now click <B style="color: yellow;">Correct Move</B> to see what you should have done in that position.</p>

                <p>If you made multiple mistakes within the test two buttons will appear between the <B style="color: yellow;">Correct Move</B> and <B style="color: lightcyan;">Select new test</B> buttons. The buttons will be labelled <B style="color: pink;">Next</B> and <B style="color: lightgreen;">Back</B>. These buttons are used to toggle between the sequence of mistakes that you made iwthin the same test. Make sure you click <B style="color: blue;">Show Position</B> between mistakes.</p>

              </div>
          </div>
          <div class="col-sm-1"></div>
          <div id = 'feedbackdiv' class="col-sm-2" style="border: double blanchedalmond 3px; border-radius: 5%; padding-top: 1%; display:none;">
            <h3 style="border-bottom: double blanchedalmond 2px;">Feedback from tutor:</h3>
            <p id = 'feedback'></p>
          </div>
          <div class="col-sm-1"></div>
      </div>
      
      

  </body>


  <script>
//checks if opening is black of white oriented
  var black = "{{opening}}".split(' ')[1]

  if (black == "Defense"){
     var is_black = "True";
  } else {
      var is_black = "False";                              
  }


//reads in incorrect moves 
  x = {{mistakes|safe}}
  new_x = []
  new_feedback = []
//reads in written feedback 
  feedback = {{feedback|safe}}
  //removes 100% scores (no mistakes)
  for (var i = 0; i<x.length; i++){
      if (x[i].length != 0){
          new_x.push(x[i])
          new_feedback.push(x[i])
      }
  }

  x = new_x;
  feedback = new_feedback;
  var Test
  // uses DOM to create the dropdown menu in which all tests exist, also gives onclick functionality
  // which uses DOM again to remove and show relevant elements on the page
  function makeUL(array) {
    var list = document.createElement('ul');
    list.id = 'list';

    for (var i = 0; i < x.length; i++) {
        var item = document.createElement('li');
        item.style.listStyle = "none";
        item.id = i;
        item.className = 'testattempt';
        item.onclick = function (){
             Test = this.id

             document.getElementById('dropdown').style.display = "none";
             document.getElementById('list').style.display = "none";
             testnum = parseInt(this.id) + 1
             document.getElementById('TestNumber').innerHTML = "Test number" + " " + testnum;
             document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + 1;
             document.getElementById('myBoard').style.display = "block";
             document.getElementById('Pos').style.display = "block";
             document.getElementById('Mistake').style.display = "block";
             document.getElementById('correct').style.display = "block";
             document.getElementById('newtest').style.display = "block";
             document.getElementById("selecttest").style.display = "none";
             document.getElementById('newopening').style.display = "none"
             if (x[parseInt(Test)].length > 1){
             document.getElementById('next').style.display = "block";
             }
             document.getElementById("myChart").style.display = "none";
             document.getElementById('feedback').innerHTML = feedback[this.id];
             document.getElementById('instructions').style.display = "block";
             document.getElementById('feedbackdiv').style.display = "block";


                

             
             

        }

        item.appendChild(document.createTextNode(i+1));


        list.appendChild(item);
    }

    return list;
}


//creates list
document.getElementById('openingsid').appendChild(makeUL('{{mistakes}}'));

var i = 0
//creates chessboard using the chessboard.js library 
board = Chessboard('myBoard')
    
//create the buttons using jquery for the user to see their feedback,
// 1. which position was the mistake made in 
// 2. what was the mistake
// 3. what should the correct move have been 
// 4. and 5. next mistake and last mistake
//6. select new test
    $('#Pos').on('click', function () {
    if (is_black == 'False'){
        board.position(x[parseInt(Test)][i].split(',')[0])}
    else {
        board.position(x[parseInt(Test)][i].split(',')[0])
        board.orientation('black')
    }

    }
    )

    $('#Mistake').on('click', function () {
    if (is_black == 'False'){
    board.position(board.position(x[parseInt(Test)][i].split(',')[1]))}
    else {
    board.position(board.position(x[parseInt(Test)][i].split(',')[1]))
    board.orientation('black')}

    }
    )

    $('#correct').on('click', function () {
    if (is_black == 'False'){
    board.position(board.position(x[parseInt(Test)][i].split(',')[2]))}
    else {
    board.position(board.position(x[parseInt(Test)][i].split(',')[2]))
    board.orientation('black')}

    }
    )


$('#next').on('click', function () {
board.position(board.position('start'))
var mistakesmade = x[parseInt(Test)].length - 1
i = i + 1
if (i<mistakesmade) {
    document.getElementById('back').style.display = "block";

    

    document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(i + 1);
    } else if ( i ==mistakesmade) {
        document.getElementById('next').style.display = "none";
        document.getElementById('back').style.display = "block";

        document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(i + 1);

    }
    else {
        document.getElementById('next').style.display = "none";
        document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(i + 1);


    }  
})

$('#back').on('click', function () {
board.position(board.position('start'))
// document.getElementById('next').style.display = "block";

var mistakesmade = x[parseInt(Test)].length -1
if (i<=mistakesmade && i>0) {
    document.getElementById('next').style.display = "block";

    i = i - 1
    if (i != 0){
    document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(i + 1);
    } else {    document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(1) ;
    document.getElementById('back').style.display = "none";

}
    } else {
        document.getElementById('back').style.display = "none";
        if (i != 0){
        document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + parseInt(document.getElementById('mistakeNumber').innerHTML) -1 ;
    } else {    document.getElementById('mistakeNumber').innerHTML = "Mistake Number " + 1 ;
}

    }  
})

$('#newtest').on('click', function () {
    i = 0;
    document.getElementById('dropdown').style.display = "block";

    document.getElementById('list').style.display = "block";
    document.getElementById('TestNumber').innerHTML = "";
    document.getElementById('mistakeNumber').innerHTML = "";
    document.getElementById('myBoard').style.display = "none";
    document.getElementById('Pos').style.display = "none";
    document.getElementById('Mistake').style.display = "none";
    document.getElementById('correct').style.display = "none";
    document.getElementById('next').style.display = "none";
    document.getElementById('back').style.display = "none";
    document.getElementById('back').style.display = "none";
    document.getElementById('newtest').style.display = "none";
    document.getElementById("selecttest").style.display = "block";
    document.getElementById('newopening').style.display = "block";
    document.getElementById('myChart').style.display = "block";
    document.getElementById('feedback').innerHTML = "";
    document.getElementById('instructions').style.display = "none";
    document.getElementById('feedbackdiv').style.display = "none";





})


//creating a line chart using the Chart.js library 
let myChart = document.getElementById('myChart').getContext('2d');

let lineChart = new Chart(myChart, {
    type: 'line', 
    data: {
        labels: {{attempt}},
        datasets: [{
            label: 'Grades',
            data: {{grades}}
        }]
    },
    options: {
        plugins: {
        title: {
            display: true,
            text: '{{opening}} Attempts'
        }
        },
        scales: {
            y: {
              
                beginAtZero: true,
                title: {
                    display: true,
                    text: "Grade"
                }
            },
            x: {
                title: {
                    display: true,
                    text: "Attempt Number"
                }
            }
        }
    }
    
    //   }
 
});









  




  </script>

{% include 'footer.html' %}
{% endblock %}