{% extends "base.html" %}
{% block content %}
<head>
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    <style>

    </style>
  </head>
<h1>{{opening}}  </h1>

<div id="myBoard" style="width: 400px"></div>
<button id="Mistake">Show Position</button>
<button id="Pos">Mistake</button>
<button id="correct">Correct Move</button>





<script>
    var board = Chessboard('myBoard');
    $('#Pos').on('click', function () {
  board.position('{{wrong}}')
    })

    $('#Mistake').on('click', function () {
    board.position('{{Pos}}')
    })

    $('#correct').on('click', function () {
    board.position('{{right}}')
    })
</script>
{% include "footer.html" %}
{% endblock %}