{% extends "base.html" %}

{% block content %}

        <title>Learn</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        * {
            color: white;
        }

        body {
            background-color: black;
        }

        .center {
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }


        .carousel {
                width:640px;
                height:360px;
            }
        

        .carousel-indicators li {
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

        .carousel-indicators {
                bottom: -50px;
            }

        .col-sm-5{
            width: 200px;
            height: max-content;
            background-color: rgb(17, 14, 34);
        }

        .rcorners {
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px;
            width: 200px;
            height: 150px;
        }

        </style>
    </head>

    <body>
        <div>
            <h1>Hi, {{ current_user.username }}!</h1>
            <h2>Welcome to the learning portal -- Please select an Opening</h2>
        </div>
        <br><br>

        <div style="margin: 5%;">
            <div class="row">
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Ruy Lopez') }}">Ruy Lopez</a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Queens Gambit') }}">Queens Gambit</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Sicilian Defence') }}">Sicilian Defence</a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Italian Game') }}">Italian Game</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Bogo Indian') }}">Bogo Indian</a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Queens Gambit') }}">??</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Ruy Lopez') }}">??</a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Queens Gambit') }}">??</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Ruy Lopez') }}">??</a>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 rcorners">
                    <a href = "{{ url_for('chesspractice', opening ='Queens Gambit') }}">??</a>
                </div>
            </div>
        </div>




    </body>

{% include "footer.html" %}
{% endblock %}