{% extends "base.html" %}


{% block content %}

        <title>Learn</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <style>

            * {
                color: white;
            }
    
            body {
                background-color: rgb(5, 4, 19);
            }
    
            .center {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: auto;
                }
    
            .rcorners {
                border-radius: 25px;
                border: 2px solid #73AD21;
                padding: 20px;
                width: 200px;
                height: 150px;
            }
    
    
            .sidebar {
                margin: 0;
                padding: 0;
                width: 200px;
                background-color: #141414;
                position: absolute;
                height: 100%;
                overflow: auto;
            }
    
            .sidebar a {
                display: block;
                color: white;
                padding: 16px;
                text-decoration: none;
            }
                
            .sidebar a.active {
                background-color: #04AA6D;
                color: white;
            }
    
            .sidebar a:hover:not(.active) {
                background-color: #555;
                font-weight: bolder;
                color: white;
            }
    
            div.content {
                margin-left: 200px;
                margin-top: 20px;
                padding: 1px 16px;
                height: 1000px;
            }
    
            @media screen and (max-width: 700px) {
                .sidebar {
                    width: 100%;
                    height: auto;
                    position: relative;
                }
                .sidebar a {float: left;}
                div.content {margin-left: 0;}
            }
    
            @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
                }
            }
    
            </style>
    </head>

    <body>
  


        <div class="sidebar" id = "sidebar">

        </div>

        <div class="content">
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
                <h1 style="text-align: center;"><b>Welcome to the Learn portal!</b></h1>
            </div>
            <div style="margin-left: auto; margin-right: auto; margin-top: 5%; text-align: center;">
                <img id="myImg" src="static/img/gifs/pawnmovingstatic.png" style="width: 900px; height: 400px; border-radius: 25px;">
                <br>
                <div>
                    <a id = "meow" style="text-align: center;" href="{{ url_for('chesspractice',opening='Queens Gambit') }}">Queens Gambit</a>
                </div>
                
            </div>
          </div>
          





    </body>

    <script>

        x = {{openings|safe}}
        function makeOpenings(array){
            for (var i = 0; i<x.length; i++){
                opening_name = x[i][0]
                anchor = document.createElement('a')
                if (i == 0){
                    anchor.className = "active"
                }
                anchor.innerHTML = opening_name
                anchor.setAttribute("onclick",  "reply_click(this.innerHTML)");                  
                anchor.id = opening_name
                document.getElementById("sidebar").appendChild(anchor)
        }}

        
        var reply_click = function(clicked)
        {
            document.getElementById('meow').innerHTML = clicked;
            document.getElementById('meow').href = "{{url_for('chesspractice', opening = 'x')}}".replace("x", clicked);
            var elements = document.getElementsByClassName("active");
            for (var i = 0; i<elements.length; i ++){
                elements[i].className = ""
            }
            document.getElementById(clicked).className = "active";
            
        }



        makeOpenings(x)   
        
        $(function() {
            $("#myImg").hover(
                function() {
                    $(this).attr("src", "static/img/gifs/pawnmoving.gif");
                },
                function() {
                    $(this).attr("src", "static/img/gifs/pawnmovingstatic.png");
                }                         
            );                  
        });

    </script>


{% endblock %}

