{% extends "base.html" %}
{% block content %}
<h5>Overall</h5>
<hr>
<div class = "progress">
    <div class = "progress-bar" role = "progressbar" style = "width: {{prog}}"  aria-valuemin="0" aria-valuemax="100">{{prog}}</div>
</div>


<hr>
<div class="container">
    <canvas id = "myChart"></canvas>
</div>

<script>
    console.log('{{attempt}}');
    console.log('{{grades}}');
    let myChart = document.getElementById('myChart').getContext('2d');

    let lineChart = new Chart(myChart, {
        type: 'line', 
        data: {
            labels: {{attempt}},
            datasets: [{
                label: 'Grades',
                data: {{grades}}
            }]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: '{{opening}} Attempts'
            }
        }
        
          }
     
    });
</script>
{% include "footer.html" %}
{% endblock %}