{% extends "base.html" %}

{% block content %}

        <title>Learn</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

        * {
            color: white;
        }

        body {
            background-color: black;
        }

        .center {
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
            }


        .carousel {
                width:640px;
                height:360px;
            }
        

        .carousel-indicators li {
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }

        .carousel-indicators {
                bottom: -50px;
            }

        </style>
    </head>

    <body>
        <div>
            <h1>Hi, {{ current_user.username }}!</h1>
            <h2>Welcome to the Test portal -- Please select an Opening</h2>
        </div>
        <br><br>


        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade center" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                <img class="d-block center" src="static/img/chesspieces/wikipedia/wR.png" style="width: 300px;height: 300px;"
                    alt="First slide">
                <br><br><br><br>
                <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                <h3 class="h3-responsive"><a href = "{{ url_for('chesstest', opening ='Ruy Lopez') }}">Ruy Lopez</a></h3>
                <p>White opening line</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                <img class="d-block center" src="static/img/chesspieces/wikipedia/wB.png" style="width: 300px;height: 300px;"
                    alt="Second slide">
                <br><br><br><br>
                <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                <h3 class="h3-responsive"><a href = "{{ url_for('chesstest', opening ='Italian Game') }}">Italian Game</a></h3>
                <p>White opening line</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                <img class="d-block center" src="static/img/chesspieces/wikipedia/wP.png" style="width: 300px;height: 300px;"
                    alt="Third slide">
                <br><br><br><br>
                <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                <h3 class="h3-responsive"><a href = "{{ url_for('chesstest',opening ='Queens Gambit') }}">Queens Gambit</a></h3>
                <p>White opening line</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                <img class="d-block center" src="static/img/chesspieces/wikipedia/wQ.png" style="width: 300px;height: 300px;"
                    alt="Second slide">
                <br><br><br><br>
                <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                <h3 class="h3-responsive"><a href = "{{ url_for('chesstest', opening = 'Sicilian Defence') }}">Sicilian Defence</a></h3>
                <p>Black opening line</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                <img class="d-block center" src="static/img/chesspieces/wikipedia/wR.png" style="width: 300px;height: 300px;"
                    alt="Second slide">
                <br><br><br><br>
                <div class="mask rgba-black-strong"></div>
                </div>
                <div class="carousel-caption">
                <h3 class="h3-responsive"><a href = "{{ url_for('chesstest', opening = 'French Defence') }}">French Defence</a></h3>
                <p>Black opening line</p>
                </div>
            </div>



            </div>
            <!--/.Slides-->

            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->

        </div>
        <!--/.Carousel Wrapper-->





    </body>

{% include "footer.html" %}
{% endblock %}